// @import "@/src/app//variables.scss";
@import "../../app//variables.scss";

.header {
    padding: 20rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw ;
    backdrop-filter: blur(10rem);
    background: rgba(255, 255, 255, 0.6);
    z-index: 9;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 70rem;
    height: 30rem;
}
.nav {
    display: flex;
    column-gap: 30rem;
}
.navItem {
    font-family: $font-family;
    font-weight: 700;
    font-size: 15rem;
    letter-spacing: 0.08em;
    color: $secondary-2;
}
.active {
    color: $main-bg;
}
.button {
    font-family: $font-family;
    font-weight: 700;
    font-size: 16rem;
    color: $secondary;
    border-radius: 5rem;
    background: $main-bg;
    width: 152rem;
    height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
}